/*De esta manera se dejan notas*/
/*No hagan cambios drásticos en este CSS, primero pruebenlo en otro y si funciona lo aplican en este*/
/*AVISEN SI VAN A CAMBIAR ALGUNA CLASE YA ESCRITA EN LUGAR DE AÑADIR OTRA NUEVA*/
.left{text-align: left;}
.right{text-align: right;}
.center{text-align: center;}

.justify{text-align: justify;}


.margin-top{margin-top: 20px;}
.margin-bottom{margin-bottom: 20px;}
.margin-left{margin-left: 20px;}
.margin-right{margin-right: 20px;}

/*CLASES DE COLOR, AÑADIR AL GUSTO*/
.blanco{
  color: white;

}

.flex{
  display: flex;
}

.tamaño10{font-size: 10px;} .tamaño20{font-size: 20px;} .tamaño30{font-size: 30px;} .tamaño40{font-size: 40px;} .tamaño50{font-size: 50px;} /*De esta manera se dejan notas */
footer { position: absolute; bottom: 0;}

.rubik-storm{
  font-family: "Rubik Storm", system-ui;
  font-weight: 400;
  font-style: normal;
}
.rubik-glitch {
  font-family: "Rubik Glitch", system-ui;
  font-weight: 400;
  font-style: normal;
}



.box{
    width: 90%;
    margin: auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
  
}
.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}

.container{
    width: 95%;
    margin: auto;
    margin-top: 10px;
    padding: 0px;
    border-radius: 5px;
}

.grid-container {
  display: grid; /* Activa Grid */
  grid-template-columns: repeat(5, 1fr); /* 5 columnas iguales */
  gap: 10px; /* Espacio entre contenedores*/

}

.item {
  padding: 20px;
}



.grid-vertical {
  display: grid; /* Activa Grid */
  grid-template-columns: repeat(2, 1fr); /* 2 columnas iguales */
  gap: 10px; /* Espacio entre contenedores*/
}

.fondo{
   background-color: rgba(0, 0, 0, 0.2); /* Negro con 50% de transparencia */
  border: 1px solid #ddd;
  border-radius: 5px; 
  
}

.playwrite-nz-guides-regular {
  font-family: "Playwrite NZ Guides", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 29px;
}


